    <!-- Navigation bar -->
    <div class="navbar">
        <button id="nav-home">
            <a href="Home.html">
                <i class="fa-solid fa-house"></i>
            </a>
        </button>
        <button id="nav-stats">
            <a href="Progress.html">
                <i class="fa-solid fa-chart-simple"></i>
            </a>
        </button>
        <button id="nav-notifications">
            <a href="Notifications.html">
                <i class="fa-solid fa-bell"></i>
            </a>
        </button>
        <button id="nav-settings">
            <a href="Settings.html">
                <i class="fa-solid fa-gear"></i>
            </a>
        </button>
        <button id="nav-add">
            <a href="Add.html">
                <i class="fa-solid fa-plus"></i>
            </a>
        </button>
    </div>