{% extends "partials/base.jinja" %}
    {% block content %}
    <div class="vertical-navbar">
        <a href="FACE.html">FACE</a>
        <a href="HAIR.html">HAIR</a>
        <a href="SHIRT.html">SHIRT</a>
        <a href="PANTS.html">PANTS</a>
    </div>
    <div class="container">
        <div class="title">Create Yourself</div>
        <div class="card-container">
            <div class="card">
                <a href="HAIR.html">
                    <img src="img/Funny Girl Face Anime Transparent Drawing- Free PNG Download.png" alt="Face 1">
                </a>
            </div>
            <div class="card">
                <a href="HAIR.html">
                    <img src="img/Blushing%C2%A0Smile%20Anime%20Transparent%20Image-%20Free%20PNG%20Download%20.png" alt="Face 2">
                </a>
            </div>
            <div class="card">
                <a href="HAIR.html">
                    <img src="img/Anime%20Super%20Happy%20Eyes%20Transparent%20Image-Free%20Download%C2%A0.png" alt="Face 3">
                </a>
            </div>
            <div class="card">
                <a href="HAIR.html">
                    <img src="img/Happy%20Mode%20Transparent%20Anime%20Face-%20Free%20PNG%20Download.png" alt="Face 4">
                </a>
            </div>
        </div>
    </div>
  {% endblock %}