{% extends "partials/base.jinja" %}
    {% block content %}
    <div class="vertical-navbar">
        <a href="FACE.html">FACE</a>
        <a href="HAIR.html">HAIR</a>
        <a href="SHIRT.html">SHIRT</a>
        <a href="PANTS.html">PANTS</a>
    </div>
    <div class="container">
        <div class="title">Create Yourself</div>
        <div class="card-container">
            <div class="card">
                <a href="SHIRT.html">
                    <img src="img/images.jfif" alt="Hair 1">
                </a>
            </div>
            <div class="card">
                <a href="SHIRT.html">
                    <img src="img/9cdb435823e315ad4767e0c8e424b8f3.jpg" alt="Hair 2">
                </a>
            </div>
            <div class="card">
                <a href="SHIRT.html">
                    <img src="img/Hair-PNG-7.png" alt="Hair 3">
                </a>
            </div>
            <div class="card">
                <a href="SHIRT.html">
                    <img src="img/Goku-Hair-PNG-Photo.png" alt="Hair 4">
                </a>
            </div>
        </div>
    </div>
  {% endblock %}