{% extends "partials/base.jinja" %}
    {% block content %}
    <div class="vertical-navbar">
        <a href="FACE.html">FACE</a>
        <a href="HAIR.html">HAIR</a>
        <a href="SHIRT.html">SHIRT</a>
        <a href="PANTS.html">PANTS</a>
    </div>
    <div class="container">
        <div class="title">Create Yourself</div>
        <div class="card-container">
            <div class="card">
                <a href="PANTS.html">
                    <img src="img/an-anime-style-shirt-with-a-bow-tie-png.webp" alt="Shirt 1">
                </a>
            </div>
            <div class="card">
                <a href="PANTS.html">
                    <img src="img/a-white-shirt-with-a-black-collar-png.webp" alt="Shirt 2">
                </a>
            </div>
            <div class="card">
                <a href="PANTS.html">
                    <img src="img/aratilis-flat-colors-cartoon-png.webp" alt="Shirt 3">
                </a>
            </div>
            <div class="card">
                <a href="PANTS.html">
                    <img src="img/vecteezy_naruto-t-shirt-naruto-generative-ai_47300522.png" alt="Shirt 4">
                </a>
            </div>
        </div>
    </div>
  {% endblock %}