{% from "partials/cards.jinja" import btn %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LU Fitness</title>
    <style>
        h1 {
            text-align: center;
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .btn-next {
            background-color: black;
            color: white;
            font-size: 1rem;
            padding: 10px;
            border-radius: 10px;
            width: 90%;
            max-width: 400px;
            font-family: Arial, sans-serif;
            text-align: center;
            text-decoration: none;
            margin: 0 auto;
            display: block;
        }
        .btn-next:hover {
            background-color: #333;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-grow: 1;
        }

        .message {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 18px;
            font-weight: bold;
            color: #003399;
            font-family: Arial, sans-serif;
        }

        .footer {
            width: 100%;
            position: fixed;
            bottom: 20px;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="title">LU FITNESS</h1>
        <div style="position: relative; display: inline-block;">
        <img src="img/Charecter1.png" alt="Character" class="center">
        <div class="message">
            {% if isLoggedIn %}
                Hello, it's {{ Username | title }}
            {% else %}
                Hello, Guest!
            {% endif %}
        </div>
    </div>

    <div class="footer">
        {{ btn('Next', 'Begin.html') }}
    </div>
    </div>
</body>
</html>